.feature-items-slider .swiper-slide {
	@apply w-auto overflow-hidden;
}

.feature-items-slider .swiper-wrapper {
	-webkit-transition-timing-function: linear !important;
	-o-transition-timing-function: linear !important;
	transition-timing-function: linear !important;
}
