@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-100 font-abhaya-libre;
}

.wrapper {
	width: 100%;
	display: grid;
	/* grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 100px 100px;
	grid-template-areas:
		"heading heading"
		"heading text"; */
	grid-template-columns: repeat(2, 1fr);

	grid-template-areas:
		"heading ."
		"heading text";
}

.heading {
	grid-area: heading;
}

.text {
	grid-area: text;
}
