@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
	--breakpoint-xs: 30rem;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-gray-100 font-abhaya-libre;
}

.slider .swiper-slide {
	@apply relative h-72 w-52 overflow-hidden rounded-2xl;
}

.slider .swiper-wrapper {
	-webkit-transition-timing-function: linear !important;
	-o-transition-timing-function: linear !important;
	transition-timing-function: linear !important;
}
