@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
	--breakpoint-xs: 30rem;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-gray-100 font-abhaya-libre;
}

/* @keyframes moveInCircle {
	0% {
		transform: rotate(0deg) translateX(50px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(50px) rotate(-360deg);
	}
}

.animated-path {
	animation: moveInCircle 5s linear infinite;
	transform-origin: center;
} */
